{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div class="p-10 lg:p-15 text-center">
  <h1 class="text-2xl lg:text-4xl text-white">Log in</h1>
</div>

<div class="lg:w-1/4 px-4 mx-auto mt-5 relative">
  <form method="post" action="." class="bg-white bg-opacity-50 rounded-xl p-6 blur-form">
    {% csrf_token %}

    <div class="mb-5">
      <label class="text-white">Username</label>
      <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl ">
    </div>

    <div class="mb-5">
      <label class="text-white">Password</label>
      <input type="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl ">
    </div>

    {% if form.non_field_errors %}
      <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
        <p>Invalid username or password. Please check your credentials and try again.</p>
      </div>
    {% endif %}

    <button class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Log in</button>
  </form>
</div>
{% endblock %}
